html {
  color-scheme: light dark;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
  margin: 0.5em 0;
}

h1 {
  --border-color: oklch(50% 10% 200 / 40%);
  font-size: 400%;
  border-bottom: 2px solid var(--border-color);
}

h2 {
  font-size: 200%;
}

body {
    /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
    --color-accent: oklch(65% 50% 0);
    font: 100%/1.5 system-ui;
    display: block;
    max-width: 125ch;
    margin-inline: max(1em, (100% - 125ch) / 2);
    padding: 10px;
    accent-color: var(--color-accent);
  }

  & label.color-scheme {
    position:absolute;
    top:1rem;
    right:2rem;
    max-width: 300px;
    font-family: inherit;
  }

nav {
    --border-color: oklch(50% 10% 200 / 40%);
    display: flex;
    text-align: center;
    margin-bottom: 2em;
    border-bottom: 2px solid var(--border-color);
    font-family: inherit;
  }

nav a {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
    flex: 1;
  }

  & a.current {
    text-decoration: none;
    color: inherit;
    padding: 0.5em;
    flex: 1;
    border-bottom: 5px solid var(--border-color);
    font-weight: bold;
  }

  & a:hover {
    background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
    color: var(--color-accent);    
    border-bottom: 5px solid var(--color-accent);
  }

form {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    gap: 1em;
    font-family: inherit;
  }
  
  & label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

  & button {
    grid-column: 1 / -1;
    padding: 0.5em 1em;
  }

div.projects {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
    gap: 1em;
    padding: 1em;
    font-family: inherit;
  }

  & article{
    grid-template-rows: subgrid;
    grid-row: span 3;
    gap: 1em;
  }

div.resume_contact {
    display: grid;
    grid-template-columns: 0.5fr 3fr;
    gap: 0.2em;
  }
  
  & label {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
  }

div.profile-stats dl {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem
  }
  
  & .profile-stats dt {
    grid-row: 1;
    font-weight: bold; 
  }
  
  & .profile-stats dd {
    grid-row: 2; 
    margin: 0.25rem;
  }

div.pie-container {
  display: flex;
  align-items: flex-start; 
  gap: 2em;                
  flex-wrap: wrap;         
  margin: 2em 0;  
}

svg.projects-pie-plot {
  width: 300px;
  height: 300px;
  margin-block: 2em;
  overflow: visible;
}

svg.projects-pie-plot:has(path:hover) path:not(:hover) {
  opacity: 0.5;
}

path {
  transition: 300ms;
  cursor: pointer;
}

span.swatch {
  width: 1em;
  height: 1em;
  border-radius: 50%;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: middle;
  background-color: var(--color); /* fallback color; overridden inline via JS */
}

ul.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 0.5em 1em;
  padding: 1em;
  margin: 1.5em 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  flex-grow: 1;
  list-style: none;
}

li.legend_items {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 100%;
}